.itinerariy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*height: 15vh;*/
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*height: 95%;*/
}

.cardd-body {
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 90%;
}

.card-itinerary {
    width: 100%;
    height: 10vh;
}

.viewAll-button {
    width: 95%;
    height: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
