.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7vh;
  width: 100%;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;  
}

.img-container {
  width: 28px;
  height: 28px;
}

.left-container {
  width: 33%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.center-container {
  width: 33%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right-container {
  width: 33%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
