.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vh;
    width: 100%;
    justify-content: center;
}

.img-container {
    width: 28px;
    height: 28px;
}